.snakeDot {
	background-color: rgb(255, 86, 148);
	position: absolute;
	width: 10px;
	height: 10px;
	border: solid 1px yellow;
	border-style: dashed;
	border-radius: 50%;
	z-index: 2;
	// background-image: url('/skin.');
}
